!!! 5
/[if lt IE 7] <html class='no-js ie6 oldie' lang='en'>
/[if IE 7] <html class='no-js ie7 oldie' lang='en'>
/[if IE 8] <html class='no-js ie8 oldie' lang='en'>
/ [if gt IE 8]><!
%html.no-js{:lang => 'en'}
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %title= @title
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    = stylesheet_link_tag    '/stylesheets/boots.css'
    = javascript_include_tag '/js/modernizr.js'
    :javascript
      Modernizr.load({
        test: true,
        load: ['//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', '/js/app.js'],
        complete: function() {
          log('Modernizr finished loading our scripts!');
        }
      });
  %body
    .container
      #main{:role => "main"}
        = yield
    .container
      %footer
        \&copy; 2011
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    /[if lt IE 7 ]
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
